<%- include ('../partials/header.ejs') %>
<div class="container">
    <div class="write-blog">
        <h1>Wanna write a blog</h1>
        <a href="/blogs/new" class="writer">Click here</a>
    </div>
    <div class="blog-table-container">
        <table class="blog-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% blogs.forEach((blog, index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= blog.title %></td>
                <td><%= new Date(blog.createdAt).toLocaleDateString() %></td>
                <td>
                  <a href="/blogs/<%= blog._id %>" class="btn view-btn">View</a>
                  <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit" class="btn delete-btn">Delete</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      
</div>
<%- include ("../partials/footer.ejs") %>  